/.Rayman/rayman text eol=lf
/.Rayman/.dist/rayman text eol=lf
/.Rayman/README.md text eol=lf
/.Rayman/commands.txt text eol=lf
/.Rayman/.dist/README.md text eol=lf
/.Rayman/.dist/commands.txt text eol=lf
